@media (min-width: 768px) {
  header {
    height: 700px;
  }
  .menu_header {
    width: 100%;
    height: 700px;
    display: flex;
  }
  .menu_header .back {
    /* background-image: url(images/background.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    height: 700px;
    position: relative;
  }
  .menu_header .back .header-nav {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .menu_header .back .header-nav .logo {
    padding: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu_header .header-nav .logo {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
  }
  .menu_header .header-nav .logo a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-weight: bold;
  }
  .menu_header .header-nav .logo .para {
    color: white;
    font-weight: bold;
    font-size: 28px;
  }
  .menu_header .header-nav .logo a span {
    color: orange;
    font-size: 30px;
    padding: 10px;
  }
  .menu_header .nav {
    height: 70px;
    padding: 10px;
    /* width: 62%; */
    display: none;
    position: absolute;
    align-items: center;
    margin-left: 465px;
  }
  .menu_header .nav .fa-solid.fa-bars {
    display: none;
  }
  .dark-mode {
    background-color: rgb(34, 34, 34);
    color: white;
  }
  .menu_header .nav ul {
    display: flex;
    list-style: none;
  }
  .menu_header .nav li a:hover {
    color: orange;
  }
  .menu_header .nav li a {
    text-decoration: none;
    font-weight: 550;
    color: white;
    padding: 13px;
  }
  .menu_header .nav li span {
    color: white;
  }
  .menu_header .search {
    height: 70px;
    padding: 0px;
    color: aqua;
    font-size: 23px;
    align-content: center;
    margin-left: 350px;
  }
  .menu_header .search span {
    color: white;
    font-size: 18px;
    font-size: smaller;
  }
  .menu_header button:hover {
    background-color: rgb(255, 255, 252);
    color: orange;
  }
  .menu_header button {
    height: 35px;
    width: 120px;
    border: none;
    border-radius: 40px;
    color: white;
    display: none;
    background-color: orange;
    margin-right: 0px;
    margin-left: 0px;
  }
  .menu_header .search .hide-menu {
    background-color: orange;
    height: 35px;
    border-radius: 3px;
    width: 35px;
    display: flex;
    position: relative;
    /* align-items: center;
  justify-content: center; */
  }
  .menu_header .search .hide-menu span {
    font-size: 18px;
  }
  .content {
    height: 200px;
    width: 50%;
    position: absolute;
    top: 200px;
    padding: 20px;
    margin-left: 25px;
  }
  .content h1 {
    color: white;
    padding-bottom: 25px;
    font-size: 35px;
    width: 600px;
  }
  .content p {
    color: rgb(213, 213, 213);
    font-size: 16px;
    padding-bottom: 30px;
    width: 500px;
  }
  .content button {
    height: 50px;
    width: 155px;
    border-radius: 30px;
    border: none;
    background-color: orange;
    margin-top: 10px;
    color: white;
    font-size: 14px;
  }
  .content button:hover {
    background-color: rgb(255, 255, 255);
    color: orange;
  }

  .content_1 {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .content_1 .con {
    width: 100%;
    margin-left: 30px;
    margin-top: 20px;
  }
  .content_1 .con h5 {
    font-size: 12px;
    margin-top: 50px;
    color: gray;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
  .content_1 .con h1 {
    font-size: 40px;
    color: rgb(3, 3, 99);
    padding-bottom: 15px;
  }
  .content_1 .con p {
    color: gray;
    width: 700px;
    padding-bottom: 20px;
  }
  .content_1 .con button {
    height: 45px;
    width: 175px;
    border-radius: 30px;
    border: none;
    background-color: orange;
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-top: 19px;
  }
  .content_1 .con button:hover {
    background-color: bisque;
    color: orange;
  }
  .content_1 .images {
    margin-top: 100px;
    width: 100%;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    /* display: grid;
    grid-template-columns: repeat(2 ,1fr); */
    text-align: center;
  }
  .content_1 .images img {
    max-width: 100%;
    height: 330px;
    border-radius: 10px;
    transition: 1s all ease;
  }
  .content_1 .images img:hover {
    transform: translate(-1px, -15px);
  }

  .SERVICES {
    background-color: rgb(248, 248, 248);
    width: 100%;
    height: auto;
  }
  .SERVICES .p {
    text-align: center;
    font-size: 16px;
    color: gray;
    padding-top: 25px;
  }
  .SERVICES .heading {
    text-align: center;
    font-size: 35px;
    color: rgb(2, 2, 138);
    font-weight: 600;
  }
  .SERVICES .information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }
  .SERVICES .information img {
    height: 240px;
    width: 335px;
    margin-top: 40px;
    /* margin-left: 99px; */
    margin-left: 30px;
    border-radius: 10px;
    padding: 8px;
  }
  .SERVICES .card {
    height: 240px;
    width: 360px;
    /* background-color: white; */
    position: relative;

    align-items: center;
    /* box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5); */
    transition: 0.5s ease-in-out;
  }

  .SERVICES .information .information_1 .info_1 {
    background-color: white;
    width: 320px;
    height: 150px;
    margin-left: 38px;
    margin-top: 11px;
    border-radius: 2px;
    padding-top: 20px;
  }

  .SERVICES .information .information_1 .info_1 a {
    padding: 20px;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
  }
  .SERVICES .information .information_1 .info_1 p {
    padding: 20px;
    font-size: 16px;
    color: gray;
    line-height: 25px;
  }
  .SERVICES .information .information_2 img {
    height: 240px;
    width: 330px;
    margin-top: 40px;
    margin-left: 0px;
    border-radius: 10px;
  }
  .SERVICES .information .information_2 .info_2 {
    background-color: white;
    width: 320px;
    height: 150px;
    margin-left: 4px;
    margin-top: 11px;
    border-radius: 2px;
    padding-top: 20px;
  }
  .SERVICES .information .information_2 .info_2 a {
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
  }
  .SERVICES .information .information_2 .info_2 p {
    padding: 20px;
    font-size: 16px;
    color: gray;
    line-height: 25px;
  }
  .SERVICES .information .information_3 img {
    height: 240px;
    width: 330px;
    margin-top: 40px;
    margin-left: 30px;
    border-radius: 10px;
  }
  .SERVICES .information .information_3 .info_3 {
    background-color: white;
    width: 315px;
    margin-top: 10px;
    height: 150px;
    margin-left: 38px;
    padding-top: 20px;
    margin-bottom: 50px;
  }
  .SERVICES .information .information_3 .info_3 a {
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
  }
  .SERVICES .information .information_3 .info_3 p {
    padding: 20px;
    font-size: 16px;
    color: gray;
    line-height: 25px;
  }
  .Our_Services {
    height: auto;
    width: 100%;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Our_Services .services_info {
    padding-left: 30px;
    width: 100%;
  }
  .Our_Services .services_info h5 {
    color: gray;
    padding-bottom: 5px;
  }
  .Our_Services .services_info h1 {
    color: rgb(2, 2, 138);
    font-size: 40px;
    padding-bottom: 10px;
  }
  .Our_Services .services_info p {
    color: rgb(106, 106, 106);
    padding-bottom: 20px;
    line-height: 30px;
    width: 668px;
    font-weight: 500;
  }
  .Our_Services .services_info button {
    height: 45px;
    width: 175px;
    border-radius: 30px;
    border: none;
    background-color: orange;
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-top: 19px;
  }
  .Our_Services .services_info button:hover {
    background-color: bisque;
    color: orange;
  }
  .servies_right {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 50px;
    margin-left: 0;
  }
  .servies_right .servies_right_info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .servies_right .servies_right_info span {
    text-decoration: none;
    color: rgb(230, 149, 0);
    font-size: 30px;
    padding-bottom: 10px;
  }
  .servies_right .servies_right_info h4 {
    font-size: 20px;
    font-weight: bold;
    font-weight: 400;
    padding-bottom: 10px;
  }
  .servies_right .servies_right_info h4:hover {
    color: orange;
  }
  .servies_right .servies_right_info p {
    line-height: 30px;
    width: 296px;
    color: rgb(106, 106, 106);
    padding-bottom: 50px;
  }
  .gallery {
    height: auto;
    width: 100%;
    background-color: rgb(241, 241, 241);
    /* padding: 50px; */
  }
  .gallery h4 {
    font-size: 14px;
    text-align: center;
    padding-bottom: 8px;
    padding-top: 50px;
    color: rgb(106, 106, 106);
  }
  .gallery h1 {
    font-size: 35px;
    letter-spacing: 2px;
    text-align: center;
    color: rgb(2, 2, 138);
  }
  .gallery .gallery_image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* display: flex; */
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 10px;
  }
  .gallery .gallery_image .image {
    position: relative;
    height: 190px;
    width: 230px;
    overflow: hidden;
  }
  .gallery .gallery_image .image .text {
    position: absolute;
    color: white;
    overflow: hidden;
    transition: 1.5s all ease;
    height: 100%;
    width: 100%;
    transform: scale(0);
  }
  .gallery .gallery_image img {
    height: 190px;
    width: 230px;
    border-radius: 8px;
    object-fit: cover;
    transition: 1s all ease;
  }

  .gallery .gallery_image .image:hover .text {
    background-color: black;
    border-radius: 8px;
    opacity: 0.7;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 60px;
    text-align: center;
    /* text-align: center; */
    right: 0;
    display: block;
    transform: scale(1);
  }
  .Customers {
    height: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
  }
  .Customers h5 {
    color: rgb(106, 106, 106);
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 10px;
  }
  .Customers h1 {
    color: rgb(2, 2, 138);
    text-align: center;
    padding-bottom: 10px;
    font-size: 30px;
  }
  .Customers .Customers_review {
    text-align: center;
    margin-top: 30px;
  }
  .Customers .Customers_review .image img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  .Customers .Customers_review h4 {
    font-size: 24px;
    color: rgb(117, 117, 117);
  }
  .Customers .Customers_review p {
    font-size: 18px;
    line-height: 30px;
    color: rgb(117, 117, 117);
    height: 100px;
    width: 688px;
    margin-top: 30px;
    margin-left: 0px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 150px;
  }
  .COFFEE_BLOG {
    width: 100%;
  }
  .COFFEE_BLOG h5 {
    font-size: 15px;
    text-align: center;
    color: rgb(117, 117, 117);
  }
  .COFFEE_BLOG h1 {
    text-align: center;
    color: rgb(2, 2, 138);
    font-size: 30px;
  }
  .COFFEE_BLOG .blog_post {
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 50px;
  }
  /* .COFFEE_BLOG .blog_post .images {
  overflow: hidden;
  background-clip: border-box;
} */
  .COFFEE_BLOG .blog_post .post1 .images {
    overflow: hidden;
    width: 600px;
    height: 350px;
  }

  .COFFEE_BLOG .blog_post .images img {
    transition: 1s all ease;
    background-clip: border-box;
  }
  .COFFEE_BLOG .blog_post .images img:hover {
    transform: scale(1.1, 1.1);
  }
  .COFFEE_BLOG .blog_post .post1 img {
    width: 600px;
    height: 350px;
  }

  .COFFEE_BLOG .blog_post .post1 h3 {
    font-size: 24px;
    color: rgb(2, 2, 138);
    margin-left: 00px;
    margin-top: 15px;
  }
  .COFFEE_BLOG .blog_post .post1 h3:hover {
    color: orange;
    transition: 0.5s all ease;
  }
  .COFFEE_BLOG .blog_post .post1 p {
    margin-left: 0px;
    margin-top: 10px;
    font-weight: 450;
    color: rgb(117, 117, 117);
    width: 530px;
    line-height: 25px;
    font-size: 15px;
  }

  .COFFEE_BLOG .blog_post .post1 button {
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 40px;
    color: white;
    background-color: orange;
    margin-top: 30px;
    margin-left: 20px;
  }
  .footer_text {
    padding-top: 50px;
    background-color: rgb(77, 53, 38);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    margin-top: 50px;
  }
  .footer_text .logo a {
    text-decoration: none;
    font-size: 32px;
    margin-left: 30px;
    font-weight: bold;
    color: white;
  }
  .footer_text .logo a span {
    color: orange;
  }
  .footer_text .logo p {
    width: 500px;
    margin-top: 20px;
    font-size: 16px;
    margin-left: 30px;
    color: rgb(255, 255, 255);
    font-weight: 500px;
    line-height: 28px;
    margin-bottom: 50px;
  }
  .address {
    margin-left: 0px;
  }
  .address h5 {
    font-size: 24px;
    color: white;
  }
  .address .p1 {
    margin-top: 30px;
    font-size: 16px;
    color: rgb(255, 255, 255);
  }
  .address .p2 {
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
  }
  .address .p3 {
    margin-top: 10px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 500px;
    margin-bottom: 50px;
  }
  .Newsletter {
    margin-bottom: 100px;
    margin-top: 10px;
    margin-left: -25px;
  }
  .Newsletter h5 {
    font-size: 24px;
    color: white;
  }
  .Newsletter p {
    margin-top: 30px;
    font-size: 16px;
    width: 443px;
    color: rgb(255, 255, 255);
  }
  .Newsletter input {
    height: 45px;
    margin-top: 20px;
    padding-left: 30px;
  }
  .Newsletter button span {
    font-size: 15px;
    color: white;
  }
  .Newsletter button {
    height: 46px;
    background-color: orange;
    border: none;
    width: 70px;
  }
  .Newsletter h4 {
    margin-top: 50px;
    margin-right: 50%;
    width: 100%;
  }
}
